<div class="select-box">
  <div class="result-desc" *ngIf="resultDesc">
    {{resultDesc}}
  </div>
  <ng-container *ngIf="options.length">
    <div *ngFor = "let option of options" class="select-items">
      <div class="select-key">
        {{option.cdeTypeDesc}} :
      </div>
      <div class="select-value">
        <ul class="select-list">
          <li *ngFor = "let selOpt of option.valueList" class="selector" [class.selected]="option.selResult.indexOf(selOpt.cdeValue)!==-1">
            <label>
              <input type="checkbox" class="checkbox" [checked]="option.selResult.indexOf(selOpt.cdeValue)!==-1"  name="selOpt.cdeValue" [disabled]="option.selResult.length>1 && !option.selMore"   [ngClass]="{'show':option.selMore}" (click)="select(option,selOpt)">
              {{selOpt.cdeValueDesc}}
            </label>
          </li>
        </ul>
        <div class="select-btn" [class.show] = "option.selMore">
          <button type="button" name="button" class="btn btn-sm btn-ok" (click)="selOk(option)">确定</button>
          <button type="button" name="button" class="btn btn-sm btn-cancel" (click)="option.selMore = false">取消</button>
        </div>
      </div>
      <div class="select-more">
        <button type="button" name="button" class="btn btn-sm btn-white" [ngClass]="{'active':option.selMore,'hide':option.ifSingle}" (click)="option.selMore = !option.selMore">多选</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="advancedOps">
    <div class="select-items">
      <div class="select-key">
        高级选项 :
      </div>
      <div class="select-value">
        <ul class="select-list">
          <li *ngFor = "let advancedOpt of advancedOps" class="selector" (click)="openCard(advancedOpt)">
            {{advancedOpt.cdeTypeDesc}}
          </li>
        </ul>
        <!-- 高级选项卡 -->
        <div class="optCard" [ngClass]="'card'+advancedOpt.priorityLevel" [class.show]="advancedOpt.selMore" >
          <!-- 子菜单分级 -->
          <div *ngIf="advancedOpt.cdeLvlFlag === 1">
            <div *ngFor = "let option of advancedOpt.childList" class="select-items">
              <div class="select-key">
                {{option.parmName}} :
              </div>
              <div class="select-value">
                <ul class="select-list">
                  <li *ngFor = "let selOpt of option.valueList" class="selector" [class.selected]="advancedOpt.selResult.indexOf(selOpt.cdeValue)!==-1">
                    <label>
                      <input type="checkbox" class="checkbox show" [checked]="advancedOpt.selResult.indexOf(selOpt.cdeValue)!==-1"  name="selOpt.cdeValue" (click)="select(advancedOpt,selOpt)">
                      {{selOpt.cdeValue | myRmPrefix}}({{selOpt.cdeValueDesc}})
                    </label>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <!-- 子菜单不分级 -->
          <div *ngIf="advancedOpt.cdeLvlFlag === 0">
            <div class="select-value">
              <ul class="select-list list-nokey">
                <li *ngFor = "let selOpt of advancedOpt.valueList" class="selector" [class.selected]="advancedOpt.selResult.indexOf(selOpt.cdeValue)!==-1">
                  <label>
                    <input type="checkbox" class="checkbox show" [checked]="advancedOpt.selResult.indexOf(selOpt.cdeValue)!==-1"  name="selOpt.cdeValue" (click)="select(advancedOpt,selOpt)">
                      {{selOpt.cdeValue}}({{selOpt.cdeValueDesc}})
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="select-btn show">
            <button type="button" name="button" class="btn btn-sm btn-ok" (click)="selOk(advancedOpt)">确定</button>
            <button type="button" name="button" class="btn btn-sm btn-cancel" (click)="advancedOpt.selMore = false">取消</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
