.select-more .active {
  background-color: #2795fc;
  color: #fff;
  box-shadow: 0 2px 4px rgba(39, 149, 252, 0.5);
  border-color: #2795fc;
}
.select-box {
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  color: #767676;
  padding: 0 10px;
}
.result-desc {
  text-align: left;
  font-weight: bolder;
  font-size: 14px;
  padding: 5px 10px;
  border-bottom: 1px dashed #dedede;
}
.select-items{
  position: relative;
  line-height: 30px;
  display: flex;
  &:not(:last-child){
    border-bottom: 1px dashed #dedede;
  }
}
.select-items::after{
  content: ' ';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.select-key{
  position: absolute;
  left:0;
  width: 100px;
  line-height: 47px;
}
ul.select-list {
  list-style: none;
  color: #000;
  margin: 0 16px 0 64px;
}
.select-list li.selector {
  float: left;
  margin-right: 34px;
  line-height: 47px;
}
li.selector:hover, li.selector label:hover {
  color: #2896fc;
  cursor: pointer;
}
li.selector label {
  margin-bottom: 0;
}
.select-more {
  position: absolute;
  right: 12px;
  top: 8px;
}
.btn-white {
  color:#a8a8a8;
  background-color: #fff;
  border: 1px solid #d3d2d2;
  cursor: pointer;
}
.btn-white:hover{
  background-color: #2795fc;
  color: #fff;
  border-color: #2795fc;
}
.hide{
  display: none
}
.checkbox {
  display: none
}
.selected{
  color: #2896fc;
}
.select-btn {
  width: 100%;
  float: left;
  margin-bottom: 6px;
  display: none;
}
.checkbox.show,.select-btn.show {
  display: initial;
}
.btn:disabled{
  color: #d8d8d8;
  background-color: #fbfbfb;
  border-color: #f1f1f1;
}
.btn-ok {
  margin-right: 14px;
  background-color: #2795fc;
  color: #fff;
  border-color: #2795fc;
}
.btn-cancel {
  background-color: #eee;
  border-color: #c9c9c9;
}
.select-value{
  position: relative;
}
.select-list.list-nokey{
  margin: auto;
}

.optCard{
  display: none;
}
.optCard .select-items{
  border-width: 0;
}
.optCard.show{
  position: absolute;
  top: 57px;
  left: -10px;
  z-index: 1060;
  display: block;
  width: 990px;
  padding: 1px 1px 15px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.optCard.show::before {
  content: "";
  border-width: 11px;
  top: -11px;
  margin-left: -11px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  left: 50%;
  border-top-width: 0;
}
.optCard.show::after {
  content: "";
  border-width: 10px;
  top: -10px;
  margin-left: -10px;
  border-bottom-color: #f7f7f7;
  left: 50%;
  border-top-width: 0;
}
.optCard::before, .optCard::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.optCard.show.card1::after, .optCard.show.card1::before{
  left: 16%;
}
.optCard.show.card2::after, .optCard.show.card2::before{
  left: 29%;
}
.optCard.show.card3::after, .optCard.show.card3::before{
  left: 40%;
}
