
.time-progress {
  height: 1.04rem;
  padding-top: .31rem;
  border-bottom: 1px solid #34353c;
  margin-bottom: .48rem;
}
// 当日销售业绩
.day-performance {
  margin-top: .21rem;
  margin-bottom: .91rem;
  padding: .96rem .56rem .8rem .53rem;
  span {
    display: inline-block;
  }
}
.performance-list {
  margin-bottom: .67rem;
}
.performance-item{
  position: relative;
  overflow: hidden;
  height: .79rem;
  margin-bottom: -.07rem;
}
.dash-line{
  border-top: 1px dashed #fdcb04;
  width: 100%;
  position: absolute;
  top: .39rem;
  left: 0;
}
.item-name{
  width: 2rem;
  line-height: .79rem;
  vertical-align: text-bottom;
  position: absolute;
}
.item-value {
  width: 1.2rem;
  font-size: .53rem;
  position: absolute;
  right: 0;
}
// 申请单
.requisition-tracking, .overdue-reminder {
  margin-top: .53rem;
  overflow: hidden;
  min-height: 8rem;
}

.table thead{
  background: -webkit-linear-gradient(top,  #fdbf04 0%,#fb9a02 100%);
  background: -o-linear-gradient(top,  #fdbf04 0%,#fb9a02 100%);
  background: -ms-linear-gradient(top,  #fdbf04 0%,#fb9a02 100%);
  background: linear-gradient(to bottom,  #fdbf04 0%,#fb9a02 100%);
}
.table thead th{
  height: .93rem;
  color: #222;
  font-size: .32rem;
  border-right: 1px solid #222;

}
.table thead th, .table td{
  border-top-width: 0;
  border-bottom-width: 0;
  text-align: center;
  padding: .23rem 0;
}
.table td {
  font-size: .24rem;
  vertical-align: middle;
  word-wrap:break-word;
}
.table td.contract-no {
  font-size: .21rem;
  max-width: 2.4rem;
}
.table td.date, .table td.amount {
  min-width: 49px;
}
.table td.borrower {
  min-width: 38px;
}
.table td.overdue {
  font-weight: bold;
  color: #fe4504;
}
.table tr:nth-child(even) {
  background-color: #272a39;
}
.no-record {
  font-size: .53rem;
  font-weight: bolder;
  color: #fdbf04;
  margin-top: 25%;
}
.slide-indicators{
  position: relative;
  ol {
      position: absolute;
      right: 0;
      bottom: -14px;
      left: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
  }
}
.slide-indicators li.active{
  background-color: #fdbf04;
}
.slide-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: hsla(0,0%,100%,.5);
}

// 生日提醒
.birthday-reminder {
  padding: .4rem .51rem;
  margin-top: .4rem;
  margin-bottom: 18px;
}
.reminder-item:not(:last-child){
  position: relative;
  overflow: hidden;
  margin-bottom: .43rem;
}
.reminder-date{
  width: 3.2rem;
  margin-right: .57rem;
}
.reminder-date::before{
  content: '';
  display: inline-block;
  border: .11rem solid #fdbf04;
  border-radius: 50%;
  margin-right: .29rem;
}
