<div class="month-performance">

  <div class="sub-title-wrap">
    <div class="dashed"></div>
    <h4 class="sub-title">每周业绩趋势</h4>
  </div>
  <div class="performance-trend">
    <div echarts [options]="trendOption" class="trend-chart"></div>
  </div>

  <div class="sub-title-wrap">
    <div class="dashed"></div>
    <h4 class="sub-title">本月业绩预测</h4>
  </div>
  <div class="has-grey-bgc performance-forecast">
    <div class="forecast-list">
      <p class="forecast-item">
        <span class="dash-line"></span>
        <span class="item-name text-left has-grey-bgc">本月目标金额</span>
        <span class="item-value text-right has-grey-bgc">{{achieveforecast.goalAmt | number}}</span>
      </p>
      <p class="forecast-item">
        <span class="dash-line"></span>
        <span class="item-name text-left has-grey-bgc">预计完成合同金额</span>
        <span class="item-value text-right has-grey-bgc">{{achieveforecast.expectAmt | number}}</span>
      </p>
      <p class="forecast-item">
        <span class="dash-line"></span>
        <span class="item-name text-left has-grey-bgc">预计完成率</span>
        <span class="item-value text-right has-grey-bgc">{{achieveforecast.completionRate}}%</span>
      </p>
      <p class="forecast-item">
        <span class="dash-line"></span>
        <span class="item-name text-left has-grey-bgc">预计提成系数</span>
        <span class="item-value text-right has-grey-bgc">{{achieveforecast.coefficient}} %</span>
      </p>
    </div>
    <div class="pay-percent">
      <div class="percent-bar">
        <span *ngFor="let i of intervalPers" class="royalty-coefficient">{{i | number:'1.1-2'}}%</span>
      </div>
      <div class="interval-num">
        <span *ngFor="let i of intervalNums">{{i}}</span>
      </div>
      <div id="my-percent" [style.left]="myPctPosition">
        <div class="cursor"><img src="/img/cursor.png" height="100%"></div>
        <span>{{achieveforecast.expectAmt/10000 | number:'1.0-0'}}万</span>
      </div>
    </div>
    <div class="text-center">
      <span>预计奖金提成 <i class="help"></i></span>
      <p class="font-yellow amount-value">{{achieveforecast.royaltyAmt | number}} 元</p>
    </div>
  </div>

  <div class="sub-title-wrap">
    <div class="dashed"></div>
    <h4 class="sub-title">本月考核预警</h4>
  </div>
  <div class="early-warning has-grey-bgc">
    <div>
      <h5>维持进度条 <i class="help"></i></h5>
      <p class="time-line row text-center">
        <span class="col-4" *ngFor="let i of timeList">{{i}}月</span>
      </p>
      <p class="volume row text-center font-red">
        <span class="col-4">{{warningInfos.m2Number}}件</span>
        <span class="col-4">{{warningInfos.m1Number}}件</span>
        <span class="col-4">{{warningInfos.number}}件</span>
      </p>
      <div class="volume-progress">
        <span class="volume-key">件数</span>
        <ngb-progressbar type="customized" [value]="warningInfos.cntRate*100" [striped]="true" [animated]="true" class="volume-progress-bar">
          <i>{{+warningInfos.m2Number+warningInfos.m1Number+warningInfos.number}}</i>
        </ngb-progressbar>
        <span class="font-yellow volume-val text-right">{{warningInfos.cntRate*100}}%</span>
      </div>
      <p class="volume row text-center font-red">
        <span class="col-4">{{warningInfos.m2Amt | number}}</span>
        <span class="col-4">{{warningInfos.m1Amt | number}}</span>
        <span class="col-4">{{warningInfos.amt | number}}</span>
      </p>
      <div class="volume-progress">
        <span class="volume-key">金额</span>
        <ngb-progressbar type="customized" [value]="warningInfos.amtRate*100" [striped]="true" [animated]="true" class="volume-progress-bar">
          <i>{{+warningInfos.m2Amt+warningInfos.m1Amt+warningInfos.amt | number}}</i>
        </ngb-progressbar>
        <span class="font-yellow volume-val text-right">{{warningInfos.amtRate*100}}%</span>
      </div>
      <h3 class="text-center font-red">{{(warningInfos.cntRate < 1 && warningInfos.amtRate < 1)?'考核尚未达标，请继续加油!':'恭喜，本次考核已达标！'}}</h3>
    </div>
    <div class="obsolete" *ngIf="+warningInfos.m1Number + warningInfos.number === 0">
      <h5>淘汰进度条 <i class="help"></i></h5>
      <p class="time-line row text-center">
        <ng-container *ngFor="let i of timeList;let idx = index"><span class="col-6" *ngIf="idx < 2">{{i}}月</span></ng-container>
      </p>
      <div class="progress-group">
        <ngb-progressbar type="customized" [value]="100" [striped]="true" [animated]="true" class="obsolete-progress-bar">
          <i>{{warningInfos.m1Number}}</i>
        </ngb-progressbar>
        <ngb-progressbar type="customized" [value]="timeProgress" [striped]="true" [animated]="true" class="obsolete-progress-bar">
          <i>{{warningInfos.number}}</i>
        </ngb-progressbar>
      </div>
      <span class="font-yellow volume-val text-right">{{50 + timeProgress/2 | number:'1.0-0'}}%</span>
      <h3 class="text-center font-red">注意！本月您有被淘汰的风险！</h3>
    </div>
  </div>
</div>
